body {

    max-width: 100%;
    box-sizing: border-box;
    background-color: hsl(185, 75%, 39%);
    background-image: url("/bg-pattern-bottom.svg");
    background-position: bottom 50px right 100px;
}